/*Limpar formatações padrão*/

*{ 
margin: 0;
padding: 0;
 }
 body{
font-size: 1em; 
font-family: "Trebuchet MS", Helvetica, sans-serif;
background: #e6e6e6;
 }


 /* Layout */
 #cabecalho{
 background-color: #f7b600;
padding: 15px;
text-align: center;
 }
 #logo,#menu{
padding: 10px;
 }

#postagens{
width: 660px;
float: left;
}
#lateral{
width: 240px;
float: right;
}
#rodape{
clear: both;
text-align: center;
padding: 15px;
background: #CCC;

}
.branco{
	color: white;
}
.principal{
/*background: white;*/
width: 920px;
padding: 15px;
/*border: solid 4px red;*/
margin: 0 auto;
}
.postagem{
padding: 20px;
margin-bottom: 20px;
background: white;
}
.conteudo-categoria{
padding-bottom: 20px;

}

/*Formatação do Menu*/


#cabecalho a:link,#cabecalho a:visited{
	color: #fff;
	padding: 8px 12px;
}
#cabecalho a:hover{
background:#fff;
color: #f7b600; 
}
a{
/*padding: 5px;*/
text-decoration: none;	
}
a:link,a:visited{
	color: #f7b600;
}


 /*Formatações Gerais*/
.conteudo-categoria a:hover{
text-decoration: underline;	
}
.texto-lateral a:hover{
text-decoration: underline;
}
#postagens a:hover{
text-decoration: underline;	
}
.data-postagem{
	font-size: 0.8em;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
	margin-bottom: 10px;
	display: block;
}
.lateral{
background: white;
padding-bottom: 10px;
margin-bottom: 10px;
}
.texto-lateral{
font-size: 0.8em;
padding: 10px;
}
 h1{
 	color: #4e4e4e;
 	font-size: 2.5em;
 }
 h2{
 color: #f7b600;	
 }
 h3{
 color: #565656;
 background: #CCC;
 padding: 5px;	
 }
 p{
 font-style: italic;	
 }
 